@page
@model IndexModel
@{
    ViewData["Title"] = "Hello";
}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="card-columns">
        <div class="text-start"><h3 style="color:blue">Truyện đề cữ ></h3> <br />
            <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model.comic)
            {
                <div class="col">
                    <div class="card">                    
                        <div class="card-img" style="background-image: url(@item.ComicBanner);"></div>
                     <div class="card-body">
                         <a class="nav-link text-dark" asp-area="" asp-page="./DetailComic/Index" asp-route-id="@item.ComicId">@item.ComicName</a>
                      </div>
                    </div>
                </div>
            }
            </div>
        </div>
        <h3> </h3>
        <div class="text-start">
            <h3 style="color:blue">Truyện yêu thích ></h3> <br />
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var item in Model.comic)
                {
                    if (item.Rating >= 8)
                    {
                        <div class="col">
                            <div class="card">
                                    <div class="card-img" style="background-image: url(@item.ComicBanner);"></div>
                                <div class="card-body">
                                    <a class="nav-link text-dark" asp-area="" asp-page="./DetailComic/Index" asp-route-id="@item.ComicId">@item.ComicName</a>                              
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-sm-8">
            @await Component.InvokeAsync("CategoryComicView")
        </div>
        <div class="col-sm-8">
            @await Component.InvokeAsync("TopComicRatingView")
        </div>
    </div>
</body>
</html>
